.nav-wrapper {
  background: tomato;
}

#id {
  float: left;
  margin: 20px 50px 0 10px;

}
.sidebar {
  float: left;
  margin-top: 20px;
}

.sidebar-show {
  float: left;
  margin: 20px 30px 0 0;
}

a.genre {
  color: indianred;
}

a.views {
  color: indianred;
}

.card {
  background: indianred;
}

.vid-title {
  color: indianred;
  font-weight: bold;
}

.views {
  color: indianred;
}

.desc {
  color: lightsalmon;
}

.iframe {
  z-index: 50;
  margin-left: 45px;
}

.card {
  margin-top: 40px;
  width: 600px;
}

a.brand-logo {
  margin-left: 20px;
}

.vid_title {
  font-size: 18px;
  font-weight: bold;
}

